{% extends "base.html" %}
<html>

{% block title%}
	<title>Djforum › PassWord</title>
{%endblock%}

{% block content1%}

<div class="sep20"></div>

<div class="box" style="width:70%">
    <div class="header"><a href="/useradmin">Set</a> <span class="chevron">&nbsp;›&nbsp;</span>输入有误请从新修改</div>

    <div class="inner">

        <form method="post" action="">
		{% csrf_token %}
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tbody>
			<tr>
                <td width="120" align="right">您的旧密码</td>
                <td width="auto" align="left">{{form.old_password}}</td>
            </tr>
            <tr>
                <td width="120" align="right">输入新密码</td>
                <td width="auto" align="left">{{form.new_password1}}</td>
            </tr>
            <tr>
                <td width="120" align="right">新密码确认</td>
                <td width="auto" align="left">{{form.new_password2}}</td>
            </tr>
            <tr>
                <td width="120" align="right"></td>
                <td width="auto" align="left"><input type="submit" class="super normal button" value="更改密码"></td>
            </tr>
        </tbody></table>
        </form>

    </div>
</div>

		</div>
        <div class="c"></div>
        <div class="sep20"></div>
		</div>
{%endblock%}
