{% extends "base.html" %}
<html>

{% block title%}
	<title>{{t.category.name}} › {{t.subject}}</title>
{%endblock%}

{% block content1%}
<!--弹出框编辑模块-->

<script>
function loadtinymce()
{
        tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
        });
}
$(document).ready(function(){
        loadtinymce();
});
</script>

<!--弹出框编辑模块结束-->

<!--主题块-->

<div class="content">

<div class="sep20"></div>

	
	<div class="box" style="width:70%" style="border-bottom: 0px;">
    <div class="header">
    <a href="/">Djforum</a>&nbsp;›&nbsp;<a href="/cate/{{t.category.id}}">{{t.category.name}}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a>{{t.subject}}</a>
    <div class="sep10"></div>
    <h1>{{t.subject}}</h1>
<div id="topic_126849_votes" class="votes">
<a href="javascript:" onclick="upVoteTopic(126849);" class="vote"><li class="fa fa-chevron-up"></li></a> &nbsp;<a href="javascript:" onclick="downVoteTopic(126849);" class="vote"><li class="fa fa-chevron-down"></li></a></div> &nbsp; <small class="gray"><a href="">{{t.author}}</a> · {{t.created}} · {{t.num_views}} 次点击 &nbsp; </small>
    </div>
    


    <div class="cell">
        <div class="topic_content">{{t.content|safe}}</div>
    </div>
   
    <div class="topic_buttons"><div class="fr gray f11" style="line-height: 12px; padding-top: 3px; text-shadow: 0px 1px 0px #fff;">{{t.num_views}} 次点击 &nbsp;∙&nbsp; &nbsp; </div> &nbsp;
{% if user.is_authenticated %}
{% if user.is_superuser %}
{% else %}
<a href="#;" onclick="window.open('http://service.weibo.com/share/share.php?url=http://www.v2ex.com/t/120428?r\u003Dzhuhy&amp;title=V2EX%20-%20请问如何清洗 MacBook pro 的键盘', '_blank', 'width=550,height=370'); recordOutboundLink(this, 'Share', 'weibo.com');" class="tb">Weibo
</a> &nbsp;
<a href="#;" onclick="window.open('https://twitter.com/share?url=http://www.v2ex.com/t/120428?r\u003Dzhuhy&amp;related=v2ex&amp;hashtags=mbp&amp;text=请问如何清洗 MacBook pro 的键盘', '_blank', 'width=550,height=370'); recordOutboundLink(this, 'Share', 'twitter.com');" class="tb">Qzone
</a> &nbsp;
{% if top21.user == t.author %}
<a href="#;" onclick="if (confirm('确定不想再看到这个主题？')) { location.href = '/topic_delete/{{t.id}}'; }" class="tb">删除主题</a> &nbsp;
<a href="#;" onclick="if (confirm('确定想要编辑这个主题？'))" class="tb" id="topic_update">编辑主题</a>
{% endif %}
{% endif %}
{% endif %}
</div>
</div>

<div class="sep20"></div>
	
<!--主题块结束-->

<!--回复-->

<div class="box"style="width:70%">
<div class="cell"><div class="fr" style="margin: -3px -5px 0px 0px;"><a href="" class="tag"><li class="icon-tag"></li>移动</a><a href="" class="tag"><li class="icon-tag"></li>手机</a><a href="" class="tag"><li class="icon-tag"></li>平板</a></div>
    <span class="gray">{{t.num_replys}} 回复 &nbsp;<strong class="snow">|</strong> &nbsp;直到 {{t.created}}</span>
</div>



{%for t in replys%}
<div id="r_1182214" class="cell">

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody><tr>
            <td width="48" valign="top" align="center"><img src="{{MEDIA_URL}}{{t.p.get_photo}}" style="width: 48px;height: 48px;" class="avatar" border="0" align="default"></td>
            <td width="10" valign="top"></td>
            <td width="auto" valign="top" align="left"><div class="fr"><div id="thank_area_1182214" class="thank_area"><a href="#;" onclick="if (confirm('确认要不再显示来自 {{t.author}} 的这条回复？')) { ignoreReply(1182214, '34863'); }" class="thank" style="color: #ccc;">隐藏</a> &nbsp; &nbsp; &nbsp; <a href="#;" onclick="thankReply(1182214, 'bmfjjvyjhnouiqltxmamxynlpduxddhf');" class="thank">感谢回复者</a></div> &nbsp; <a href="#;" onclick="replyOne('wklken');"><img src="//cdn.v2ex.com/static/img/reply.png" align="absmiddle" border="0" alt="Reply"></a> &nbsp;&nbsp; <span class="no">1</span></div>
                <div class="sep3"></div>
                <strong><a href="/member/wklken" class="dark">{{t.author}}</a></strong>&nbsp; &nbsp;<span class="fade small">1 天前</span> 
                <div class="sep5"></div>
                <div class="reply_content">{{t.content|safe}}</div>
            </td>
        </tr>
    </tbody></table>

</div>
{%endfor%}
</div>
</div>

<!--回复结束-->

<!--回帖-->
<div class="sep20"></div>
{% if user.is_authenticated %}
{% if user.is_superuser %}

	{% else %}
<div class="box" style="width:70%;" >
    <div class="cell"><div class="fr"><a href="#"><strong>↑</strong> 回到顶部</a></div>
        添加一条新回复
    </div>
    <div class="cell">
	<form method="POST" action="/topic/{{t.id}}/replytopic">
	{%csrf_token%}
    <textarea name="content" maxlength="10000" class="mll" id="reply_content" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 112px;"></textarea>
    <div class="sep10"></div>
    <div class="fr"><div class="sep5"></div><span class="gray">请尽量使用文明用语</span></div>
    <input type="submit" value="回复" class="super normal button">
    </form>

    </div>
    <div class="inner">
        <div class="fr"><a href="/">← Zhuhy</a></div>
        &nbsp;
    </div>
</div>
{% endif %}
{% endif %}
<!--回帖结束-->
</div>
        <div class="c"></div>
        <div class="sep20"></div>
</div>
{%endblock%}

{% block content2%}
<!--box-->

<div class="backgroundbox" style="display:none;">
</div>

<div class="popbox" style="display:none;width:600;height:500;padding:30px 10px 10px 10px;">
	<a class="close" id="close">X</a>

		<form action="/topic_update/{{t.id}}" method="POST">
		{%csrf_token%}
		<input style="width:600" type="text" class="form-control" name="subject" value="{{t.subject}}">
		<textarea style="height:250px;" name="content">{{t.content}}</textarea>
		<button class="btn btn-primary">更新</button>
		</form>
	
</div>

<!--box结束-->
{%endblock%}

{% block content3%}
<script>
$(document).ready(function(){
	$("#topic_update").click(function(){
		$(".backgroundbox").show();
		$(".popbox").show();
	});

	$("#close").click(function(){
		$(".backgroundbox").hide();
		$(".popbox").hide();
	});
});
</script>
{%endblock%}
</html>
